<?xml version="1.0"?>
<robot name="alfred_base_descr" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find dim_cpp)/urdf/include/alfred_base.urdf.xacro" />

	<link name="world" />
	<xacro:alfred_base base_frame="world" base_pos_x="0.0" base_pos_y="0.0" base_pos_z="0.0" base_roll="0.0" base_pitch="0.0" base_yaw="0.0" r="0.8" g="0.8" b="0.8" a="1.0" />
</robot>