<?xml version="1.0"?>
<robot name="alfred_base_descr" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find dim_cpp)/urdf/include/alfred_base.urdf.xacro" />

	<link name="world" />
	<xacro:alfred_base base_frame="world" base_pos_x="0.0" base_pos_y="0.0" base_pos_z="0.0" base_roll="0.0" base_pitch="0.0" base_yaw="0.0" r="0.8" g="0.8" b="0.8" a="1.0" />

	<xacro:include filename="$(find depthai_descriptions)/urdf/include/depthai_macro.urdf.xacro" />

	<xacro:depthai_camera camera_name="head_cam" parent="head_cam_link"
		camera_model="OAK-D-PRO" base_frame="head_cam_frame"
		cam_pos_x="0" cam_pos_y="-0.022921" cam_pos_z="0.004764"
		cam_roll="0" cam_pitch="0" cam_yaw="-1.5707963267948966" />

	<xacro:depthai_camera camera_name="chest_cam" parent="chest_cam_link"
		camera_model="OAK-D-PRO" base_frame="chest_cam_frame"
		cam_pos_x="0" cam_pos_y="-0.022921" cam_pos_z="-0.004764"
		cam_roll="3.14159265" cam_pitch="0" cam_yaw="-1.5707963267948966" />

	<!-- load xarm6 device -->
	<xacro:include filename="$(find xarm_description)/urdf/xarm_device_macro.xacro" />

	<xacro:xarm_device prefix="left" hw_ns="xarm" limited="false" 
		effort_control="false" velocity_control="false"
		add_gripper="true" add_vacuum_gripper="false" 
		add_bio_gripper="false" dof="6" 
		ros2_control_plugin="uf_robot_hardware/UFRobotSystemHardware" robot_type="xarm" 
		load_gazebo_plugin="false" ros2_control_params=""
		add_realsense_d435i="false" 
		add_d435i_links="true" 
		add_other_geometry="false" 
		geometry_type="box" geometry_mass="0.1"
		geometry_height="0.1" geometry_radius="0.1"
		geometry_length="0.1" geometry_width="0.1"
		geometry_mesh_filename=""
		geometry_mesh_origin_xyz="0 0 0" geometry_mesh_origin_rpy="0 0 0"
		geometry_mesh_tcp_xyz="0 0 0" geometry_mesh_tcp_rpy="0 0 0"
		robot_ip="192.168.1.210" report_type="dev"
		baud_checkset="true" default_gripper_baud="2000000"
		model1300="false" attach_to="left_arm_mount" attach_xyz="0 0 0" attach_rpy="0 0 0"
		robot_sn="" use_gazebo_camera="false" mesh_suffix="stl" kinematics_suffix="" />

	<xacro:xarm_device prefix="right" hw_ns="xarm" limited="false" 
		effort_control="false" velocity_control="false"
		add_gripper="true" add_vacuum_gripper="false" 
		add_bio_gripper="false" dof="7" 
		ros2_control_plugin="uf_robot_hardware/UFRobotSystemHardware" robot_type="xarm" 
		load_gazebo_plugin="false" ros2_control_params=""
		add_realsense_d435i="false" 
		add_d435i_links="true" 
		add_other_geometry="false" 
		geometry_type="box" geometry_mass="0.1"
		geometry_height="0.1" geometry_radius="0.1"
		geometry_length="0.1" geometry_width="0.1"
		geometry_mesh_filename=""
		geometry_mesh_origin_xyz="0 0 0" geometry_mesh_origin_rpy="0 0 0"
		geometry_mesh_tcp_xyz="0 0 0" geometry_mesh_tcp_rpy="0 0 0"
		robot_ip="192.168.1.211" report_type="dev"
		baud_checkset="true" default_gripper_baud="2000000"
		model1300="false" attach_to="right_arm_mount" attach_xyz="0 0 0" attach_rpy="0 0 0"
		robot_sn="" use_gazebo_camera="false" mesh_suffix="stl" kinematics_suffix="" />
</robot>