<?xml version="1.0" ?>
<robot xmlns:drake="drake.mit.edu" name="devkit_base_wheels">
  <link name="devkit_base_wheels_body_link">
    <inertial>
      <mass value="7.0537E+01"/>
      <inertia ixx="8.865" ixy="-0.017974" ixz="-0.015034" iyy="8.6956" iyz="-0.60364" izz="2.1038"/>
    </inertial>
    <visual name="visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </visual>
    <collision name="collision_0000">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_000.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0001">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_001.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0002">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_002.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0003">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_003.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0004">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_004.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0005">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_005.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0006">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_006.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0007">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_007.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0008">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_008.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0009">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_009.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0010">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_010.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0011">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_011.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0012">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_012.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0013">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_013.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0014">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_014.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0015">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_015.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0016">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_016.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0017">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_017.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0018">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_018.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0019">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_019.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0020">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_020.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0021">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_021.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0022">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_022.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0023">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_023.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0024">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_024.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0025">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_025.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0026">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_026.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0027">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_027.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0028">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_028.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0029">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_029.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0030">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_030.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0031">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_031.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0032">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_032.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0033">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_033.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0034">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_034.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0035">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_035.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0036">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_036.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0037">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_037.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0038">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_038.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0039">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_039.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0040">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_040.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0041">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_041.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0042">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_042.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0043">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_043.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0044">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_044.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0045">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_045.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0046">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_046.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0047">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_047.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0048">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_048.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0049">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_049.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0050">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_050.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0051">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_051.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0052">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_052.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0053">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_053.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0054">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_054.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0055">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_055.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0056">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_056.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0057">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_057.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0058">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_058.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0059">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_059.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0060">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_060.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0061">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_061.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0062">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_062.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision name="collision_0063">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="devkit_base_wheels_parts/devkit_base_wheels_convex_piece_063.obj">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
  </link>
</robot>
